.main-bg {
    background-color: #dac0ff;
    height: 100vh;
    background-size: cover;
}

.main-h1 {
    color: #690cb0;
}

.image {
    height: 50px;
}

.second-bg {
    background-color: #f3eaff;
    padding: 15px;
    margin-top: 15px;
    border-radius: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #9aa5b1;
}

.first-btn {
    background-color: #690cb0;
}

.textarea {
    border: 2px solid #ccc;
    /* normal border */
    outline: none;
    /* remove blue outline */
    transition: border 0.3s ease;
    border-radius: 5px;
}

.textarea:focus {
    border-style: solid;
    border-color: yellow !important;
    box-shadow: none !important;
    border-radius: 5px;
}

.fontsize {
    font-size: 20px;
}

.span1 {
    font-size: 35px;
    font-weight: bold;
}